section.about {
  background-color: var(--lightGrey);
}
section.about h2 {
  font-size: 2em;
}
section.about h3 {
  font-size: 1.5em;
  font-weight: 300;
}

section.about h4 {
  text-transform: uppercase;
  font-weight: 700;
  font-size: 1em;
}
