.Logo {
  display: flex;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  height: 61px;
  width: 301px;
  align-items: center;
  justify-content: center;
  z-index: 1;
}
