.main .carousel-caption {
  right: 0;
  top: 35%;
  left: 0;
  text-shadow: 1px 1px rgba(0, 0, 0, 0.8);
}

.main .carousel-caption h1 {
  font-size: 4em;
}
.main .carousel-caption p {
  font-size: 1.5em;
}
