section.testimonials {
  color: black;
  background-size: cover;
}

section.testimonials .carousel-item {
  min-height: 275px;
}
section.testimonials .carousel-caption {
  color: black;
  position: static;
  width: 60%;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.5);
}
@media screen and (max-width: 600px) {
  section.testimonials .carousel-caption {
    width: 95%;
  }
}

section.testimonials blockquote {
  border: none;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5em;
}
section.testimonials .fa {
  vertical-align: super;
}
section.testimonials .carousel-control-prev,
section.testimonials .carousel-control-next {
  color: black;
  opacity: 1;
}

section.testimonials .carousel-indicators li {
  background-color: var(--primary);
}

section.testimonials .carousel-indicators {
  top: 100%;
}
